<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apple Tree Lifecycle</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<h2>Apple Tree Lifecycle</h2>



<!-- Buttons to control the display of each tree structure -->
<div class="buttons">
  <button onclick="toggleVisibility('naturalEnv')">Apple Tree Lifecycle in Natural Environment</button>
  <button onclick="toggleVisibility('commercialOrchard')">Apple Tree Lifecycle in the Commercial Orchard</button>
  <button onclick="toggleVisibility('reproductiveCycle')">Annual Reproductive Cycle</button>
</div>

<!-- Container for tree structures -->
<div id="naturalEnv" class="tree-container" style="display: none;">
  <ul>
      <li><span class="caret">Apple Tree Lifecycle in Natural Environment</span>
          <ul class="nested">
            <li>Seed Germination</li>
            <li>Juvenile Period</li>
            <li>Transition Period (Adult Vegetative Phase/Maturation)</li>
            <li>Reproductive Phase/Adult Period</li>
            <li>Aging</li>
          </ul>
        </li>
      </ul>
        <div id="buttonContainer1">
        <button id="toggleTableBtn1" onclick="showTable('1')">Show Details</button>
        <div id="tableContainer1" class="table-container" style="display: none;"></div>

        </div>
          
</div>

<!-- <div id="tableContainer" class="table-container" style="display: none;"></div> -->


<div id="commercialOrchard" class="tree-container" style="display: none;">
  <ul>
    <li><span class="caret">Apple Tree Lifecycle in the Commercial Orchard</span>
      <ul class="nested">
        <li>Planting Trees (Commercial Orchard Preparation -Table 2.1)
          <div id="buttonContainer2.1" class="table-button-container">
            <button id="toggleTableBtn2.1"  class="table-toggleTableBtn", onclick="showTable('2.1')">Show Details</button>
            <div id="tableContainer2.1" class="table-container" style="display: none;"></div>
  
            </div>
        </li>

        <li>Young Tree (Orchard Management Strategies for Young Apple Trees - Table 2.2)
          <div id="buttonContainer2.2" class="table-button-container">
            <button id="toggleTableBtn2.2"  class="table-toggleTableBtn", onclick="showTable('2.2')">Show Details</button>
            <div id="tableContainer2.2" class="table-container" style="display: none;"></div>
        </li>
        <li>Reproductive/Mature Tree (Orchard Management Strategies for Mature Apple Trees- Table 2.3)
          <div id="buttonContainer2.3" class="table-button-container">
            <button id="toggleTableBtn2.3"  class="table-toggleTableBtn", onclick="showTable('2.3')">Show Details</button>
            <div id="tableContainer2.3" class="table-container" style="display: none;"></div>
  
            </div>
        </li>
      </ul>
    </li>
  </ul>
  <div id="buttonContainer2">
    <button id="toggleTableBtn2" onclick="showTable('2')">Show Details</button>
    <div id="tableContainer2" class="table-container" style="display: none;"></div>

    </div>
    <!-- <div id="table" class="table-container" style="display: none;"></div> -->
</div>

<div id="reproductiveCycle" class="tree-container" style="display: none;">
  <ul>
      <li><span class="caret">Dormancy - Table 3.1 </span> 
          <ul class="nested">
            <li>Para-dormancy</li>
            <li>Endo‐dormancy</li>
            <li>Eco‐dormancy </li>
             
              <div id="buttonContainer3.1" class="table-button-container">
                <button id="toggleTableBtn3.1"  class="table-toggleTableBtn", onclick="showTable('3.1')">Show Details</button>
                <div id="tableContainer3.1" class="table2-container" style="display: none;"></div>
      
                </div>
            
          </ul>
        </li>
        <li><span class="caret">Bud Development</span>
          <ul class="nested">
            <li>Leaf Bud Swelling</li>
            <li>Bud Break</li>
          </ul>
        </li>
        <li><span class="caret">Leaf Development</span>
          <ul class="nested">
          <!-- <li><span class="caret">Measuremnts</span>  -->
            <ul class="nested">
              <li>Leaf Measuremnts - Table 3.2 
              <div id="buttonContainer3.2" class="table-button-container">
                <button id="toggleTableBtn3.2"  class="table-toggleTableBtn", onclick="showTable('3.2')">Show Details</button>
                <div id="tableContainer3.2" class="table2-container" style="display: none;"></div>
      
                </div></li>
             
            <!-- </ul> -->
          </li>
        </ul>
        </li>
        <li>Shoot Development
     
        </li>
        <li><span class="caret">Inflorescence Emergence</span>
          <ul class="nested">
            <li>Floral Buds Swelling</li>
            <li>Bud Burst</li>
            <li>Pink Bud Stage</li>
            <li>Most Flowers with Petals Forming a Hollow Ball</li>
          </ul>
        </li>
        <li><span class="caret">Flowering</span>
          <ul class="nested">
            <li>First Flower</li>
            <li><span class="caret"></span>Beginning of Flowering 
            <ul class="nested">
                <li>Pollination</li>
                <li>Fertilization</li>
                <li>Fruit Set</li>
                <div id="buttonContainer4" class="table-button-container">
                  <button id="toggleTableBtn4"  class="table-toggleTableBtn", onclick="showTable('4')">Show Details</button>
                  <div id="tableContainer4" class="table2-container" style="display: none;"></div>
        
                  </div>
              </ul>
            </span></li>
              
            <li>Full Blooming/Anthesis</li>
            <li>End of Flowering</li>
          </ul>
        </li>
        <li><span class="caret">Flower Bud Formation for following season - Table 3.3</span>
          <ul class="nested">
            <li>Flower Induction</li>
            <li>Flower Initiation</li>
            <li>Bud Differentiation</li>
            <div id="buttonContainer3.3" class="table-button-container">
              <button id="toggleTableBtn3.3"  class="table-toggleTableBtn", onclick="showTable('3.3')">Show Details</button>
              <div id="tableContainer3.3" class="table2-container" style="display: none;"></div>
    
              </div>
          </ul>
        </li>
        <li><span class="caret">Fruit Development</span>
          <ul class="nested">
            <li><span class="caret"></span>Fruit Size Increase - Table 3.5</span>
            
              <ul class="nested">
                <li>Fruit Cell Division</li>
                <li>Fruit Cell Expansion</li>
                <div id="buttonContainer3.5" class="table-button-container">
                  <button id="toggleTableBtn3.5"  class="table-toggleTableBtn", onclick="showTable('3.5')">Show Details</button>
                  <div id="tableContainer3.5" class="table2-container" style="display: none;"></div>
        
                  </div>
                </li>
              </ul>
            <li>First Fruit Fall after Flowering</li>
            <li>Second Fruit Fall</li>
            <li>Shoot Growth Completed</li>

            <li><span class="caret">Measuremnts</span>
              <ul class="nested">
                <li>Fruit Measuremnts - Table 3.4.1 <div id="buttonContainer3.7.2" class="table-button-container">
                  <button id="toggleTableBtn3.4.1"  class="table-toggleTableBtn", onclick="showTable('3.4.1')">Show Details</button>
                  <div id="tableContainer3.4.1" class="table2-container" style="display: none;"></div>
        
                  </div></li>
                <li>Leaf Measuremnts - Table 3.4.2 <div id="buttonContainer3.4.2" class="table-button-container">
                  <button id="toggleTableBtn3.4.2"  class="table-toggleTableBtn", onclick="showTable('3.4.2')">Show Details</button>
                  <div id="tableContainer3.4.2" class="table2-container" style="display: none;"></div>
        
                  </div></li>
                <li>Stem Measuremnts - Table 3.4.3 <div id="buttonContainer3.4.2" class="table-button-container">
                  <button id="toggleTableBtn3.4.3"  class="table-toggleTableBtn", onclick="showTable('3.4.3')">Show Details</button>
                  <div id="tableContainer3.4.3" class="table2-container" style="display: none;"></div>
        
                  </div></li>
              </ul>
                </ul>
          </li>
        <li><span class="caret">Maturity of Fruit and Seed</span>
          <ul class="nested">
            <li>Beginning of Fruit Ripening</li>
            <li>Fruit Advanced Ripening/Coloring</li>
            <li>Fruit Harvest</li>

            <li><span class="caret">Measuremnts</span>
              <ul class="nested">
                <li>Fruit Measuremnts - Table 3.6.1 <div id="buttonContainer3.6.1" class="table-button-container">
                  <button id="toggleTableBtn3.6.1"  class="table-toggleTableBtn", onclick="showTable('3.6.1')">Show Details</button>
                  <div id="tableContainer3.6.1" class="table2-container" style="display: none;"></div>
        
                  </div></li>
                <li>Leaf Measuremnts - Table 3.6.2 <div id="buttonContainer3.6.2" class="table-button-container">
                  <button id="toggleTableBtn3.6.2"  class="table-toggleTableBtn", onclick="showTable('3.6.2')">Show Details</button>
                  <div id="tableContainer3.6.2" class="table2-container" style="display: none;"></div>
        
                  </div></li>
         
              </ul>

          </ul>
        </li>
        <li><span class="caret">Senescence - the beginning of dormancy</span>
          <ul class="nested">
            <li>Leaves Begin to Discolor</li>
            <li>Beginning of Leaf Fall</li>
            <li>50% of Leaves Discolored</li>
            <li>All Leaves Fallen</li>

            <li><span class="caret">Measuremnts</span> 
              <ul class="nested">
                <li>Leaf Measuremnts - Table 3.7.1 
                <div id="buttonContainer3.7.1" class="table-button-container">
                  <button id="toggleTableBtn3.7.1"  class="table-toggleTableBtn", onclick="showTable('3.7.1')">Show Details</button>
                  <div id="tableContainer3.7.1" class="table2-container" style="display: none;"></div>
        
                  </div></li>
               
                <li>Stem  Measuremnts - Table 3.7.2
                 
                 
                    <div id="buttonContainer3.7.2" class="table-button-container">
                      <button id="toggleTableBtn3.7.2"  class="table-toggleTableBtn", onclick="showTable('3.7.2')">Show Details</button>
                      <div id="tableContainer3.7.2" class="table2-container" style="display: none;"></div>
            
                      </div></li>
              </ul>
            </li>

          </ul>
        </li>
      </ul>
    </li>
  </ul>
  <div id="buttonContainer3">
    <button id="toggleTableBtn3" onclick="showTable('3')">Show Details</button>
    <div id="tableContainer3" class="table-container" style="display: none;"></div>

    </div>
</div>

<script src="scripts.js"></script>
</body>
</html>
