<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parameters of Apple tree during Leaf development stage</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>Stage</th>
            <th>Timing</th>
            <th>Observation (bud)</th>
            <th>Key Measurements</th>
        </tr>
        <tr>
            <td>Flower induction</td>
            <td>Typically, around mid-June in the Northern Hemisphere cite{hankeNoFlowerNo2007} and spans from the time of bloom until several weeks after full bloom cite{verheijMorphologicalPhysiologicalAspects1996}.</td>
            <td>- No visible morphological changes cite{milyaevProfilingPhytohormonesApple2022, verheijMorphologicalPhysiologicalAspects1996}. Shoot meristem sequentially produces leaf-like primordia, differentiating into bud scales, transition leaves, and leaf primordia before flower induction occurs cite{hankeNoFlowerNo2007}.</td>
            <td>NA</td>
        </tr>
        <tr>
            <td>Flower initiation</td>
            <td>Begins in summer cite{wilkieRegulationFloralInitiation2008a} extending into early autumn cite{ferreeApplesBotanyProduction2003, p. 154} Typically begins around mid-July in the Northern Hemisphere and may occur before or after shoot elongation ceases cite{hankeNoFlowerNo2007}. <br><br> The broadening of the shoot apex begins around 40 days after full bloom and may continue to 50 days cite{fosterMorphologicalQuantitativeCharacterization2003}. Doming of the apex peaks around 50 days cite{kotodaFloweringJuvenilityApple2021} and might extend up to 127 days after full bloom cite{fosterMorphologicalQuantitativeCharacterization2003}. <br><br> The initiation phase generally lasts between 3-7 weeks, but some studies have observed how it can last up to three months cite{trompLowerbudFormationPome2000}.</td>
            <td>- The shoot apex undergoes broadening and doming in sequential order cite{hirstRootstockEffectsFlowering1995, hooverBudDevelopmentFloral2004, wilkieRegulationFloralInitiation2008}. <br><br> Two prerequisites for floral initiation include reaching a sufficient number of appendages and meeting the minimum duration of the plastochron cite{wilkieRegulationFloralInitiation2008a, zhuEffectTemperatureFlowerbud1997}. <br><br> <b>Appendages number</b>: varied from 16 to 20 cite{campoyDormancyTemperateFruit2011} <br><br> <b>Plastochron</b>: 7 days is the minimum duration for formation of flower bud cite{verheijMorphologicalPhysiologicalAspects1996}</td>
            <td>- Microscopy / bud dissection <br> - Histological measurements <br> - Appendages number <br> - Plastochron</td>
        </tr>
        <tr>
            <td>Bud differentiation</td>
            <td>Follows the initiation stages, starting in the summer cite{hackettJuvenilityMaturationRejuvenation2011}, continuing through autumn cite{wilkieRegulationFloralInitiation2008a}, and bud largely completes before the onset of dormancy cite{trompLowerbudFormationPome2000} Flower bud formation completion time varies, ranging from 15 to 22 weeks after full bloom, with variations can up to six weeks across different seasons cite{mcartneySeasonalVariationOnset2001}. <br><br> Differentiation rates vary by position on the tree: spur buds develop into floral meristems by late summer, whereas extension shoots may continue developing throughout autumn and winter, and possibly into the following spring cite{riveroFloweringPhenologyInterrelations2017}.</td>
            <td>- Apical meristem transitions into an inflorescent meristem and subsequently into floral meristems. cite{malladiMolecularPhysiologyFruit2020}. Initially, the domed apical meristem initiates four to six lateral meristems and bracts. This is followed by terminal flower-initiated bracts and bracelet; lateral floral meristems initiate bracts. Finally, proximal and lateral floral meristem formed floral organs such as sepals, petals, stamens and carpels in sequential order cite{fosterMorphologicalQuantitativeCharacterization2003}.</td>
            <td>- Microscopy / bud dissection <br> - Histological measurements <br> - Temperature</td>
        </tr>
    </table>
</body>
</html>
