<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stages and Key Observations in Apple Tree Dormancy</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body>
    <h2>Stages and Key Observations in Apple Tree Dormancy</h2>
    <table>
        <tr>
            <th>Stage</th>
            <th>Timing</th>
            <th>Observation (tree/fruit/leaf/bud)</th>
            <th>Key measurements</th>
            <th>Reason of dormancy</th>
        </tr>
        <tr>
            <td>Para-dormancy</td>
            <td>Begins in late summer cite{moserMADSboxGeneMdDAM12020}</td>
            <td>- <b>Carbohydrate</b>: Increase cite{fadonConceptualFrameworkWinter2020}</td>
            <td>- Carbohydrate</td>
            <td>Controlled by internal conditions within the tree but external to the bud such as apical dominance cite{parkesChillingRequirementsApple2020}</td>
        </tr>
        <tr>
            <td>Endo‐dormancy/winter dormancy/Chill period cite{ferreeApplesBotanyProduction2003}</td>
            <td>Typically, during autumn and winter cite{parkesChillingRequirementsApple2020} <br>
                Trees break endo-dormancy upon fulfilling chilling requirements cite{moserMADSboxGeneMdDAM12020, parkesChillingRequirementsApple2020} and determined fill chilling requirement when 5-10% of buds break within a set time frame cite{gonzaleznoguerAppleMalusDomestica2023}. <br>
                Chilling requirements vary by cultivar and most cultivar with chill units ranging from 800–1200 cite{ferreeApplesBotanyProduction2003}. A summary of existing chilling requirement can be found via cite{gonzaleznoguerAppleMalusDomestica2023} and noticeably that even with same cultivar with high variable chilling requirement due to location and calculated method. Variability within tree also exists, where vegetative lateral buds typically have higher chilling requirements compared to floral buds cite{erezBudDormancyPhenomenon2000, hauaggeAgeGrowingTemperatures1991}. <br>
                Inadequate chilling due to warmer winter temperatures can delay dormancy release cite{heideLowTemperatureNot2005, naorTemperatureEffectsDormancy2003}, particularly in oceanic and Mediterranean regions cite{legaveComprehensiveOverviewSpatial2013}.
            </td>
            <td>- <b>Sugar</b>(mg g 1FW): Increase cite{fadonConceptualFrameworkWinter2020} <br>
                10 at 200 chilling hours $\to$ 20 at middle of endo-dormancy $\to$ $\sim$15  at end of endo-dormancy for ‘Cripps Pink’ <br>
                10 stable throughout endodormancy for ‘Honeycrisp’ cite{sapkotaChangesReactiveOxygen2021} <br>
                - <b>Starch</b> (mg g1 FW): Decrease in Twigs and buds, and increase in the flower primordia cite{fadonConceptualFrameworkWinter2020} <br>
                6 at 200 chilling hours $\to$ $\sim$4 at end of endo-dormancy (Cripps Pink’) <br>
                3 stable throughout endodormancy for ‘Honeycrisp’ cite{sapkotaChangesReactiveOxygen2021} <br>
                - <b>Sucrose</b> (mg g$^{-1}$ FW): <br>
                5 at 200 chilling hours  $\to$ 10 at the middle of endo-dormancy $\to$ $\sim$5 at the end of endo-dormancy for Cripps Pink’ <br>
                5 and stable throughout endodormancy for ‘Honeycrisp’ cite{sapkotaChangesReactiveOxygen2021} <br>
                - <b>Glucose</b> (mg g$^{-1}$ FW): <br>
                5 stables throughout endodormancy for ‘Cripps Pink’ <br>
                4 stable throughout endodormancy for ‘Honeycrisp’ cite{sapkotaChangesReactiveOxygen2021} <br>
                - <b>Fructose</b> (mg g$^{-1}$ FW): <br>
                2 at 200 chilling hours $\to$ 6 at middle of endo-dormancy $\to$ $\sim$4 at end of endo-dormancy for ’Cripps Pink’ <br>
                2 stable throughout endodormancy for ‘Honeycrisp’ cite{sapkotaChangesReactiveOxygen2021}
            </td>
            <td>- Carbohydrate <br>
                - Sugar <br>
                - Starch <br>
                - Sucrose <br>
                - Glucose <br>
                - Fructose <br>
                - Temperature
            </td>
            <td>Triggered by signals within the bud, growth does not happen even provided with appropriate environment cite{moserMADSboxGeneMdDAM12020}</td>
        </tr>
        <tr>
            <td>Eco‐dormancy</td>
            <td>Concludes by the end of winter or early spring, as heat required for growth resumption is met cite{moserMADSboxGeneMdDAM12020, parkesChillingRequirementsApple2020}</td>
            <td>- <b>Sugar</b>: Increase in twigs cite{fadonConceptualFrameworkWinter2020} <br>
                In buds: <br>
                ~15 $\to$ ~10 for ‘Cripps Pink’ <br>
                10 stables throughout eco-dormancy for ‘Honeycrisp’ cite{sapkotaChangesReactiveOxygen2021} <br>
                - <b>Starch</b>(mg g$^{-1}$ FW): <br>
                Decrease in twigs and flower primordia cite{fadonConceptualFrameworkWinter2020} <br>
                In bud: <br>
                4 $\to$ 1 (Cripps Pink’) <br>
                3 $\to$ 1 (‘Honeycrisp’) cite{sapkotaChangesReactiveOxygen2021} <br>
                - <b>Sucrose</b>(mg g$^{-1}$ FW): <br>
                4 stables throughout eco-dormancy for ‘Cripps Pink’ <br>
                and ‘Honeycrisp’ cite{sapkotaChangesReactiveOxygen2021} <br>
                - <b>Glucose</b>(mg g$^{-1}$ FW): <br>
                In buds: <br>
                5 $\to$ 3 for Cripps Pink’ <br>
                4 stable throughout eco-dormancy for ‘Honeycrisp’ cite{sapkotaChangesReactiveOxygen2021} <br>
                - <b>Fructose</b>(mg g$^{-1}$ FW): <br>
                In buds: <br>
                4 $\to$ 6 at middle of eco-dormancy $\to$ $\sim$4 for ’Cripps Pink’ <br>
                2 $\to$ 3 for ‘Honeycrisp’ cite{sapkotaChangesReactiveOxygen2021}
            </td>
            <td>- Carbohydrate <br>
                - Sugar <br>
                - Starch <br>
                - Sucrose <br>
                - Glucose <br>
                - Fructose <br>
                - Temperature
            </td>
            <td>Limited by environmental condition cite{langDormancyNewUniversal1987}</td>
        </tr>
    </table>
</body>
</html>
