<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stem parameters of Apple tree during Leaf senescence</title>
    <link rel="stylesheet" href="table-style.css">  <!-- Specific styles for the table -->
</head>
<body>
<table>
    <thead>
        <tr>
            <th>Measurements</th>
            <th>Value/Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Total carbohydrates (mg/g DW)</td>
            <td>
                Decrease from its peak at leaf fall, continues to diminish and decreases rapidly by early spring cite{kozlowskiPhysiologyWoodyPlants1996}<br><br>
                Decline and reach a minimum of approximately 25 mg/g DW in spring for 'Golden Delicious', 'Stark-rimson Delicious', and 'Misket Delicious' cite{sivaciSeasonalChangesTotal2006}
            </td>
        </tr>
        <tr>
            <td>Soluble sugar (mg/g DW)</td>
            <td>Decrease at lowest with ∼ 25 by spring for ‘Golden delicious’, ‘Starkrimson delicious’ and ‘Misket delicious’ cite{sivaciSeasonalChangesTotal2006}</td>
        </tr>
        <tr>
            <td>Starch (mg/g DW)</td>
            <td>Decreases to ∼ 10 by mid-winter and remains stable, value less 10 throughout spring for 'Golden Delicious', 'Stark-rimson Delicious', and 'Misket Delicious' cite{sivaciSeasonalChangesTotal2006}</td>
        </tr>
    </tbody>
</table>
</body>
</html>
