
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stages of Fruit Growth in Apple Trees</title>
    <link rel="stylesheet" href="table-style.css">
</head>
<body>
<table>
    <thead>
        <tr>
            <th>Stage</th>
            <th>Timing</th>
            <th>Observation (bud)</th>
            <th>Key Measurements</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Cell division</td>
            <td>
                Begins shortly after flowering and typically ceases about 4-6 weeks after bloom \cite{ferreeApplesBotanyProduction2003} and vary significantly among different cultivars
                \cite{patriciadenneFruitDevelopmentTree1963}. Cell numbers are established within the first 35-50 days after full blossom \cite{denneGrowthAppleFruitlets1960}
            </td>
            <td>
                Fruits experience exponential growth in fruit size and period for cell number increase \cite{ferreeApplesBotanyProduction2003}.<br><br>
                <strong>Cell number:</strong> Increase \cite{malladiMolecularPhysiologyFruit2020}<br><br>
                <strong>Cell and cell space size index</strong> (CSSI, um):<br>
                the ratio between the square of the perimeter and the number of intersected cells, increasing linearly
                ∼0.04 → 0.15 for 'Fuji', 'Mutsu' and 'Sekaiichi'<br><br>
                <strong>Change in cell number index</strong> (CNI):<br>
                The ratio between fruit equatorial diameter and Cell and cell space size index
                Increases from 200 to 500 for 'Fuji' and 'Mutsu', and up to 600 for 'Sekaiichi'<br>
                \cite{haradaInvolvementCellProliferation2005}
            </td>
            <td>
                - Fruit size<br>
                - Cell number<br>
                - Cell and cell space<br>
                - Temperature \cite{stanleyUnderstandingRoleTemperature2000a}<br>
                - Light
            </td>
        </tr>
        <tr>
            <td>Cell enlargement /expansion</td>
            <td>
                The primary phase of cell expansion typically begins as the rate of cell division slows down and eventually stops, peaking between 40 to 60 days after anthesis. This expansion phase continues at a slower rate for the remainder of the growth period until harvest \cite{bainPhysiologyGrowthApple1951, ferreeApplesBotanyProduction2003, janssenGlobalGeneExpression2008, patriciadenneFruitDevelopmentTree1963, wunscheRelationshipLeafArea2000}
            </td>
            <td>
                Fruits experience linear growth in size through cell enlargement \cite{ferreeApplesBotanyProduction2003}, which leads to an increase in cell volume and intercellular spaces, while the cell packing density decreases \cite{janssenGlobalGeneExpression2008}<br><br>
                <strong>Cell and cell space size index</strong> (CSSI, um):<br>
                ∼0.15 → ∼ 0.2 for 'Fuji', 'Mutsu' and 'Sekaiichi'<br><br>
                <strong>Change in cell number index</strong> (CNI):<br>
                Stable<br>
                \cite{haradaInvolvementCellProliferation2005}<br><br>
                <strong>Starch</strong> (mg/fruit):<br>
                Increases as cell expansion peaks and continues to rise until about 100 days after pollination, after which it begins to diminish \cite{janssenGlobalGeneExpression2008}
            </td>
            <td>
                - Cell size<br>
                - Cell and cell space<br>
                - Fruit size<br>
                - Starch
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>
