<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Apple Growth Stages</title>
        <link rel="stylesheet" href="css/table-style.css">
    </head>
    <body>

        <table>
            <thead>
                <tr>
                    <th>Fruit Growth Metrics Over Time</th>
                    <th>Fruit Quality Metrics</th>
                    <th>Fruit Nutrient Metrics</th>
                    <th>Fruit Maturity Index</th>
                </tr>
            </thead>
            <tbody>
                
                <tr>
                    <td>
                    Time Abbreviation: <br>
                    FB (Full Bloom)<br>
                    DAFB (Days After Full Bloom)<br>
                    DAB (Days After Bloom)<br> <br> 
                    
                    
                    <b>Fruit diameters (mm):</b><br>
                    Increase <br>
                    ~5 (FB) ->70 (112 DAFB) -> 80 at harvest for ‘Gala', 'Golden Delicious’ and ‘Fuji’<br>
                    (Nachtigall & Dechen, 2006)<br>
                    
                    0 -> 40 (~120 DAB) -> 60(~160 DAB) for ‘Royal Gala’<br>
                    0 -> 85 (~160 DAB) -> 90(~200 DAB) for ‘Fuji’<br>
                    (Brookfield et al., 1997)<br>
                    
                    22 (30 DAFB) -> 158 (90 DAFB) for ‘Earligold’<br>
                    46 (30 DAFB) -> 178 (90 DAFB) for ‘William’s Pride  <br>
                    15 (25 DAFB) -> 90 (100 DAFB) for ‘Jonafree <br>
                    38 (25 DAFB) -> 180 (100 DAFB) for ’Royal Gala’ <br>
                    31 (25 DAFB) -> 150 (100 DAFB) for ‘Scarlet <br>
                    (Vielma, Matta and Silva, 2008)<br>
                    
                    
                    <b></b>Fruit weight (g):<br>
                    Increase<br>
                    ~0 (FB) -> 140 (~120 DAFB) -> 200 (~160 DAFB) for ‘Royal Gala’<br>
                    0 (FB)-> 260 (~160 DAFB) ->320 (~200 DAFB) for ‘Fuji’<br>
                    (Brookfield et al., 1997)<br>
                    
                    From ~1.5 month before harvest to harvest: <br>
                    86  -> 265 for ‘Szampion’<br>
                    128 -> 314 for ‘ligol’<br>
                    (Szymanska-Chargot et al., 2012)<br>
                    
                    60g (July) ->160g (Oct, harvest)(‘Golden Delicious’) (Rutkowski, Michalczuk and Konopacki, 2008)<br>
                    
                
                    
                                              
                    </td>
                    <td>
                        <b>Firmness (N):</b><br>
                        Continuous decrease with minimal loss between 40 and 70 DAFB. <br>
                        ~48 (40 DAFB) -> ~ 42 (70 DAFB) ->~28 (120 DAFB) for ‘Royal Gala’) <br>
                        ~41 (40 DAFB) -> ~40 (60 DAFB) ->~25 (120 DAFB)(‘Scifresh’) <br>
                        (Ng et al., 2013)<br>
                        
                        ~190 (30 DAFB)-> ~140 (70 DAFB) ->~70 (90 DAFB) for ‘Earligold’and  William’s Pride) <br>
                        ~230 (30 DAFB)-> ~180 (70 DAFB) -> ~130 (100 DAFB) for ‘Jonafree and ’Royal Gala’<br>
                        ~200 (30 DAFB)-> ~155 (70 DAFB) -> ~150 (100 DAFB) for ‘Scarlet <br>
                        (Vielma, Matta and Silva, 2008)<br>
                        
                        <b>Dry weight</b>:<br>
                        Increase (Ng et al., 2013)<br>
                        
                        <b>Dry matter</b> (g/100 g FW):<br>
                        Increase from ~1.5 month before harvest to harvest: <br>
                        14.42 -> 15.11 for ‘Szampion’<br>
                        13.87 -> 15.49  for ‘ligol’<br>
                        (Szymanska-Chargot et al., 2012)<br>
                        
                        <b>>Dry matter</b (%):<br>
                        ~12(40 DAFB)->~15(70 DAFB)->~14 (120 DAFB) (‘Royal Gala’) (Ng et al., 2013)<br>
                        ~12(40 DAFB)->~20(60 DAFB)->~15(120 DAFB) (‘Scifresh’)<br>
                         (Ng et al., 2013)<br>
                        
                         <b>pH:</b><br>
                        Remian stable around 3.5<br>
                        (Vielma, Matta and Silva, 2008)<br>
                        
                        <b>Titratable acidity</b> (g/100 g FW): <br>
                        Decrease from ~1.5 month before harvest to harvest: <br>
                        0.166 -> 0.154  for ‘Szampion’<br>
                        0.305 -> 0.281 for ligol’ <br>
                        (Szymanska-Chargot et al., 2012)<br>
                        
                        (%):      <br>                                                                                
                         0.83% (July) -> 0.45% (October at harvest) for ‘Golden Delicious’ in Northern Hemisphere <br>           
                        *TA value significant varies between season and location than harvest date<br>
                        (Rutkowski, Michalczuk and Konopacki, 2008)<br>
                                                                  
                        
                        <b>Starch concentrations </b>(mg/fruit):  <br>                                                 
                        0.36 at anthesis, decrease to 0.3 by 30 days after anthesis, rises to ~25 by 100 days, and decrease to ~0 by 200 days for 'Royal Gala'                                      
                        0.25 at anthesis, reduces to 0.19 by 30 days after anthesis, increases to ~25 by 100 days, and declines to ~2 by 200 days for 'Fuji'          
                        (Brookfield et al., 1997)<br>
                        
                        <b>Total soluble solids content </b>(◦Bx): <br>
                        Increase from ~1.5 month before harvest to harvest: <br>
                        9.36 -> 11.66  for ‘Szampion’<br>
                        8.82 -> 11.90  for ‘Ligol’<br>
                        (Szymanska-Chargot, Adamiak and Zdunek, 2012)   <br>                                               
                        
                        (%):                       <br>                                                                                 
                        Below 9% (July) -> above12% (October at harvest) for ‘Golden Delicious’ in Northern Hemisphere (Rutkowski, Michalczuk and Konopacki, 2008)<br>
                        
                        
                        <b>Soluble Solid content</b> (SSC, Brix):<br>
                        Increase<br>
                        ~ 8.5 (30 DAFB) -> ~ 13 (90 DAFB) for ‘Earligold’ and ’ William’s Pride’) <br>
                        9.3 (30 DAFB)-> ~ 11.5 (70 DAFB) -> ~14 (100 DAFB) for ‘Jonafree,’Royal Gala’ and‘Scarlet’ <br>
                        (Vielma, Matta and Silva, 2008)<br>
                        
                          
                    </td>
                    <td>
                        <b> Nutrient (g/kg):</b> <br>
                        - Iron (Fe): varies significantly, ranging from 100 to 1200<br>

                        There is a rapid decrease from full bloom to 3 weeks after full bloom (WAFB), followed by a slow and continuous decline until 10 WAFB, stabilizing towards the end of fruit maturation.<br>


                        - Nitrogen(N): 24 in ‘Golden Delicious’, 17 in ‘Gala’, and 15 in ‘Fuji’, and decreases to 8, then to 4.<br>

                        - Boron (B): 37 in ‘Golden Delicious’, 32 in ‘Gala’, and 30 in ‘Fuji’, reducing to 25, then to approximately 12.<br>

                        - Phosphorus (P): Decreases from 4.5 to 1, then to about 0.5.<br>
                        - Potassium (K): Reduces from 22 to about 10, then to 4.<br>
                                                    
                        - Cupper (Cu): Starts at approximately 30, declines to 10, then to 5.<br>

                        - Calcium (Ca): 4 in ‘Golden Delicious’, 6.8 in ‘Gala’, and 7 in ‘Fuji’, decreases to 1, then to about 0.1.<br>

                        - Magnesium (Mg): Reduces from about 4 to 1, then to about 0.1.<br>
<br>
                        - Manganese (Mn): Begins at 35 in ‘Golden Delicious’, 55 in ‘Gala’, and 15 in ‘Fuji’, declining to about 20, then to 8.<br>

                        - Zinc (Zn): Starts at 55 in ‘Golden Delicious’, 40 in ‘Gala’, and 25 in ‘Fuji’, decreasing to about 10, then to 0.1.<br>

                        - Zinc (Zn): 55 (‘Golden delicious’), 40(‘Gala’) and 25(‘Fuji’) -> ~10 -> ~0.1<br>
                        (Nachtigall and Dechen, 2006)<br>


                    </td>
                    <td>
                        <b>Strief index</b>:<br>
                        Ranges from 5 to 6 at the beginning of fruit development.<br>
                        (Sivaci, 2006)<br>

                     </td>
                </tr>
                <!-- <tr>
                    <td>Starch accumulation</td>
                    <td>Increases as cell expansion peaks and continues rise until about 100 days after pollination, after which it begins to diminish.</td>
                    <td>
                        Significant increases in starch content towards the end of the growth period.
                    </td>
                    <td>Starch content</td>
                </tr> -->
            </tbody>
        </table>
    </body>
    </html>
    