<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apple Growth Stages</title>
    <link rel="stylesheet" href="css/table-style.css">
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Measurements</th>
                <th>Value/Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><b>Leaf types</td>
                <td>Shoot leaves (SH), spur leaves on non-fruiting spurs (S − F), and spur leaves on fruiting spurs (S + F)</td>
            </tr>
            <tr>
                <td><b>Fresh weight </b><br>(mg)</td>
                <td>981 (SH) > 501 (S − F) > 288 (S + F)</td>
            </tr>
            <tr>
                <td> <b>Dry weight </b><br>(mg)</td>
                <td>406 (SH) > 210 (S − F) > 126 (S + F)</td>
            </tr>
            <tr>
                <td> <b>Leaf area </b><br>(mm)</td>
                <td>3567 (SH) > 2311 (S − F, 60% of SH) > 1518 (S + F, <span class="bold">40% SH</span>)</td>
            </tr>
            <tr>
                <td> <b>Leaf thickness</b><br>(mm)</td>
                <td>0.25 (SH) > 0.18 (S − F) > 0.15 (S + F)</td>
            </tr>
            <tr>
                <td> <b>Total Chlorophyll content</b><br> (ug / square cm)</td>
                <td>52 (SH) > 46 (S − F) > 42 (S + F)</td>
            </tr>
            <tr>
                <td><b>Chlorophyll a content </b><br>(ug / square cm)</td>
                <td>Approximately 40 (2 to 3 times more than Chlorophyll b) for all leaf types.</td>
            </tr>
            <tr>
                <td><b>Chlorophyll b content </b><br>(ug / square cm)</td>
                <td>Approximately 16 for all leaf types</td>
            </tr>
            <tr>
                <td><b>Stomate density </b><br>(no./mm²)</td>
                <td>430 (SH), 356 (S − F), 366 (S + F); other reports show similar values across all three.</td>
            </tr>
            <tr>
                <td><b>Leaf water content </b><br>(%dry weight)</td>
                <td>142 (SH) >141 (S − F) >131 (S + F) (Schechter, Proctor and Elfving, 1992)</td>
            </tr>
            <tr>
                <td><b>Chlorophyll content</b><br> (SPAD):</td>
                <td>Mean value ranges from 25.45 to 63.40, Increase: From 30.9 at the start of the fruit growing season to 47.1 in the middle, then 36.8 at harvest for 'Golden Delicious'.</td>
            </tr>
            <tr>
                <td><b>Chlorophyll a </b><br>(ug / square cm):</td>
                <td>Increase: From 30.9 at the start of the fruit growing season to 47.1 in the middle, then 36.8 at harvest for 'Golden Delicious'.</td>
            </tr>
            <tr>
                <td><b>Chlorophyll b </b><br>(ug / square cm)</td>
                <td>Stable and ranges from 12 to 19 across season for 'Golden delicious'</td>
            </tr>
            <tr>
                <td><b>Carotenoids </b><br>(ug / square cm)</td>
                <td>Stable and ranges from 9 to 11 across season for 'Golden delicious' (Prsa et al., 2007)</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
