<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaf Parameters of Apple Tree During Leaf Senescence</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body>
    <h2>Leaf Parameters of Apple Tree During Leaf Senescence</h2>
    <table>
        <tr>
            <th>Leaf Chlorophyll Metrics</th>
            <th>Leaf Physiology Metrics</th>
            <th>Leaf Nutrient Metrics</th>
            <th>Leaf Biochemical Metrics</th>
        </tr>
        <tr>
            <td><b>Chlorophyll a</b> (ug / square cm):<br>
                Decrease from 55 at commercial harvest to 10 six weeks post-harvest for 'Braeburn' <br>
                <b>Chlorophyll b</b> (ug / square cm): Decrease from 15 at commercial harvest to 5 six weeks post-harvest for 'Braeburn' <br> \cite{tartachnykEffectDelayedFruit2004}<br>
                <b>Chlorophyll a+b </b>(ug / square cm): Decrease from 70 at commercial harvest to 20 six weeks post-harvest for 'Braeburn' <br>
                <b>Chlorophyll a : b ratio</b>: 3.5:1 during autumn senescence \cite{tartachnykEffectDelayedFruit2004}
            </td>
            <td><b>Respiration</b>: Experiences a dramatic peak at the beginning of the ripening stage \cite{wangDelayedSenescenceApple2012a} <br>
                <b>Photosynthesis</b> (umol carbon dioxide per square m per second):<br>
                Decreases from 14 at commercial harvest to 4.76 one week later for 'Braeburn' \cite{tartachnykEffectDelayedFruit2004} <br>
                <b>Transpiration</b> (mmol per square m per second):<br>
                Declines from a range of 0.8 to 1.1 at harvest to below 0.2 two months after harvest for 'Braeburn' \cite{tartachnykEffectDelayedFruit2004} <br>
                <b>Photochemical efficiency</b> (Fv/Fm):<br>
                Stable with value 0.80 for three weeks after commercial harvest and decrease to 0.76 \cite{tartachnykEffectDelayedFruit2004} <br>
                <b>Stomatal conductance</b> (mmol H2O per square m per second):<br>
                From 0.4 to 0.15 at 90 days after beginning of senescence \cite{wangLongTermExogenous2013} <br>
                <b>H2O2</b>: Increase \cite{wangDelayedSenescenceApple2012}
            </td>
            <td><b>Nutrient</b> (% DM): <br>
                -  Nitrogen(N): <br>
                Decrease from 1.3 at harvest to 0.9 at six weeks post-harvest for 'Braeburn' without fruit. <br>     
                - Phosphorus(P): <br>
                Decrease from 0.095 ± 0.014 at harvest to 0.070 ± 0.004 at four weeks and 0.056 ± 0.004 at six weeks post-harvest for 'Braeburn'. <br>
                - Potassium(K): <br>
                Decreases from 0.71 ± 0.03 at harvest to 0.53 ± 0.1 at four weeks and 0.49 ± 0.13 at six weeks post-harvest for 'Braeburn' <br>
                - Calcium (Ca): no mobilization, ranging from 0.62 to 1.62 for 'Braeburn' <br>
                - Magnesium (Mg): no mobilization, ranging from 0.3 to 1.73 for 'Braeburn' \cite{tartachnykEffectDelayedFruit2004}
            </td>
            <td><b>Protein</b> (mg/g DW): Decrease from 36.6 to 33.3 during autumn senescence <br>
                <b>Amino acid </b>(umoles/g DW): Increase from 23.3 to 44.8 during autumn senescence <br>
                <b>Sugar </b>(umoles /g DW):<br>
                Increase from 233 to 408 during autumn senescence \cite{spencerBiochemicalEnzymaticChanges1972} <br>
                <b>Cytokinin</b>: Decrease <br>
                <b>Gibberellin</b>: Decrease <br>
                <b>Ethylene</b>: Increase <br>
                <b>Salicylic acid</b>: Increase <br>
                <b>Abscisic acid</b>: Increase <br>
                <b>Jasmonic acid</b>: Increase \cite{guoLeafSenescenceProgression2021}
            </td>
        </tr>
    </table>
</body>
</html>
